:root {
	--main-bg-color: #118ab2;
	--second-bg-color: #ffce5e;
	--button-bg-color: #073b4c;
	--nav-bg-color: #ffffff;
	--font-main-title: #ffffff;
	--font-main-subtitle: #000000;
}

* {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 5rem;
}

h2 {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 2.4rem;
}

h3 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 3.7rem;
	color: var(--button-bg-color);
}

h4 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 3.2rem;
	color: var(--button-bg-color);
	margin-top: 4rem !important;
}

p {
	padding-top: 2rem;
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 3rem;
	color: var(--button-bg-color);
	text-align: justify;
}

#main {
	background-color: var(--main-bg-color);
}

#header {
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Poppins';
	font-weight: 400;
	font-style: italic;
	position: sticky;
	top: 0px;
	z-index: 1000;
}
#header_button button {
	font-size: 1.2rem !important;
}

.navbar-brand {
	font-size: 1.5rem;
}

#first_section {
	background-color: var(--main-bg-color);
}

#first_section_img {
	margin: 0% !important;
}

#first_section_container_button {
	margin-bottom: 10rem;
}

#first_section_container_button_down {
	position: relative;
	animation: down 2s infinite;
}

@keyframes down {
	0% {
		top: -50px;
		opacity: 60%;
	}
	100% {
		top: 10px;
	}
}

button {
	background-color: #e63946 !important;
	color: #ffffff;
	flex-basis: 60px;
	width: 13rem;
	font-size: 1.5rem !important;
	font-family: 'Poppins';
	font-weight: 400;
	text-align: center;
}

#header_button_footer {
	animation: beat 3s infinite;
}

@keyframes beat {
	0% {
		transform: scale(1);
	}
	66% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#first_section_container_button a {
	background-color: #e63946 !important;
	color: #ffffff;
	flex-basis: 60px;
	width: 10rem;
	font-size: 1.5rem !important;
	font-family: 'Poppins';
	font-weight: 400;
	text-align: center;
}

#second_section {
	background-color: var(--second-bg-color);
}

#second_section p {
	font-family: 'Poppins';
	font-weight: 100;
	font-size: 1.7rem;
}

.second_section_feature {
	margin: 3rem;
}

@media screen and (max-width: 1000px) {
	* {
		font-size: 11px;
		font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
	}
	#first_section_img_dog1 {
		display: none;
	}

	#first_section {
		background-image: url('../assets/dog2.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}

#header_button_footer_text {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 2rem;
}
