:root {
	--main-bg-color: #118ab2;
	--second-bg-color: #ffce5e;
	--button-bg-color: #073b4c;
	--nav-bg-color: #ffffff;
	--font-main-title: #ffffff;
	--font-main-subtitle: #000000;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
}

#main {
	background-color: var(--main-bg-color);
}

#header {
	background-color: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
	font-size: 1.5rem;
}

#first_section {
	background-color: var(--main-bg-color);
}

#first_section_img {
	height: 100%;
}

#first_section_container_button {
	background-color: rgba(7, 59, 76, 0.4);
	border-radius: 4px;
	margin-bottom: 10rem;
}

input[type='button'] {
	background-color: var(--button-bg-color);
	color: #ffffff;
	height: 3rem;
}

#second_section {
	background-color: var(--second-bg-color);
}

.second_section_feature {
	margin: 3rem;
}

@media screen and (max-width: 1000px) {
	#first_section_img_dog1 {
		display: none;
	}

	#first_section {
		background-image: url('../assets/dog_top2.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}
