:root {
	--main-bg-color: #118ab2;
	--second-bg-color: #ffce5e;
	--button-bg-color: #073b4c;
	--nav-bg-color: #ffffff;
	--font-main-title: #ffffff;
	--font-main-subtitle: #000000;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 90px;
}

h2 {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 30px;
}

h3 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 48px;
	color: var(--button-bg-color);
}

p {
	padding-top: 30px;
	font-family: 'Poppins';
	font-weight: 100;
	font-size: 20px;
	color: var(--button-bg-color);
}

#main {
	background-color: var(--main-bg-color);
}

#header {
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Poppins';
	font-weight: 400;
	font-style: italic;
	position: sticky;
	top: 0px;
	z-index: 1000;
}
#header_button button {
	font-size: 1.2rem !important;
}

.navbar-brand {
	font-size: 1.5rem;
}

#first_section {
	background-color: var(--main-bg-color);
}

#first_section_img {
	margin: 0% !important;
}

#first_section_container_button {
	margin-bottom: 10rem;
}

button {
	background-color: #e63946 !important;
	color: #ffffff;
	height: 4rem;
	flex-basis: 300px;
	font-size: 1.5rem !important;
	font-family: 'Poppins';
	font-weight: 200;
}

#second_section {
	background-color: var(--second-bg-color);
}

.second_section_feature {
	margin: 3rem;
}

@media screen and (max-width: 1000px) {
	#first_section_img_dog1 {
		display: none;
	}

	#first_section {
		background-image: url('../assets/dog2.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}
